.acf {
    position: relative;
    color: #333;
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}
.search {
    border: 1px solid #343434;
}
.sfield {
    width: 264px;
    height: 34px;
    font-size: 16px;
    padding: 8px 4px;
    margin: 0;
    outline: 0;
    border: none;
    vertical-align: top;
}
.sicon {
    height: 34px;
    width: 34px;
    padding: 0px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.sicon:focus {
    outline: none;
}